@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inconsolata';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700&display=swap');
}
@font-face {
  font-family: 'game';
  src: url('../assets/PressStart2P-Regular.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.back1 {
  background-image: url("../assets/back1.png");
  /* background-image: url("https://picsum.photos/200/300"); */

  animation: movesToLeft 60s infinite linear;
  background-repeat: no-repeat;
  background-repeat: repeat-x;

  /* background-repeat: repeat-x; */
  /* animation: loop 10s linear infinite; */
}
.back2 {
  background-image: url("../assets/back2.png");
  /* background-image: url("https://picsum.photos/200/300"); */

  animation: movesToLeft 50s infinite linear;
  background-repeat: no-repeat;
  background-repeat: repeat-x;

  /* background-repeat: repeat-x; */
  /* animation: loop 10s linear infinite; */
}
.back3 {
  background-image: url("../assets/back3.png");
  /* background-image: url("https://picsum.photos/200/300"); */

  animation: movesToLeft 20s infinite linear;
  background-repeat: no-repeat;
  background-repeat: repeat-x;

  /* background-repeat: repeat-x; */
  /* animation: loop 10s linear infinite; */
}
.back4 {
  background-image: url("../assets/back4.png");
  /* background-image: url("https://picsum.photos/200/300"); */

  animation: movesToLeft 10s infinite linear;
  background-repeat: no-repeat;
  background-repeat: repeat-x;

  /* background-repeat: repeat-x; */
  /* animation: loop 10s linear infinite; */
}
.people1 {
  background-image: url("../assets/people1.png");
  animation: movesToLeft 10s infinite linear;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
}
.people2 {
  background-image: url("../assets/people2.png");
  animation: movesToRight 20s infinite linear;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
}
.people3 {
  background-image: url("../assets/people3.png");
  animation: movesToRight 30s infinite linear;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
}

@keyframes movesToLeft {
  to {
    background-position: -100% 0% ;
  }
}

@keyframes movesToRight {
  to {
    background-position: 100% 0% ;
  }
}



::-webkit-scrollbar {
  display: none;
}

.ping{
  animation: ping 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.shakeit {
  animation: shake-animation 5s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes shake-animation {
  0% { transform:translate(0,0) }
 2% { transform:translate(-1px, -1px) }
 3% { transform:translate(1px, -1px) }
 4% { transform:translate(0,0) }
 100% { transform:translate(0,0) }
}

.glassPattern {
  background-image: url("../assets/glassPattern.svg");
background-repeat: repeat;
opacity: 0.3;
}